<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-md">    
    <div>
        <h3>Recommendation Engine 1</h3>
        <p>This recommendation engine is a <strong>Content-based Filtering</strong> algorithm. Using a dataframe in the background, 
           we take the movie title selected, index an array of genre names, and pass that array into a TF-IDF model. TF-IDF stands for: 
           term-frequency/inverse-document-frequency, it multiplies the frequency of each term in the array divided by the number of terms
           in the array by the inverse of the frequency of each term in the corpus of documents. This gives us a "weight" for each term in 
           our array of genres. From there we use cosine similarity to measure the similarity between the genres of other movies and find
           the closest matches.</p>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ movie_title }}</h5>
            </div>
            <img src="{{ movie_title_poster }}" class="card-img-btm" alt="..." style="width:300px; height:400px">
        </div>
        <div>
            <p style="padding-top:200px; padding-right: 180px; font-size:30px">If you liked {{ movie_title }}, you might like these movies:</p>
        </div>
    </div>
    <div class="card-group">  
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ recommendation1.0 }}</h5>
            </div>
            <img src="{{ recommendation1_posters.0 }}" class="card-img-btm" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ recommendation1.1 }}</h5>
            </div>
            <img src="{{ recommendation1_posters.1 }}" class="card-img-btm" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ recommendation1.2 }}</h5>
            </div>
            <img src="{{ recommendation1_posters.2 }}" class="card-img-btm" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ recommendation1.3 }}</h5>
            </div>
            <img src="{{ recommendation1_posters.3 }}" class="card-img-btm" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ recommendation1.4 }}</h5>
            </div>
            <img src="{{ recommendation1_posters.4 }}" class="card-img-btm" alt="...">
        </div>
    </div>
</div>
</body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</html>